.heading {
	color : red;
	text-align : center;
}

.left-side-pane{
	text-align : center;
	color : #FFFFFF;
	background-image: url("backgrounds/wilshere.gif");
    background-repeat: repeat-x;
}

.right-side-pane{
	text-align : left;
	color : #FFFFFF;
	background-image: url("backgrounds/toplay.gif");
    background-repeat: repeat-x;
}

.button-text{
	font-size: 15px;
}

.blackbg{
	background-color : #000000;
}